@import "../../util/globalStyling/components";

.nav {
    padding: 20px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    > .nav__container {
        @include flexBox(space-between);

        > .nav__itemList {
            @include flexBox(space-between);
            width: 500px;
            min-width: 40%;
        }
    }
}
